<div class="card">
  <p-galleria
    #galleria
    [value]="images"
    [(activeIndex)]="activeIndex"
    [numVisible]="5"
    [showThumbnails]="showThumbnails"
    [showItemNavigators]="true"
    [showItemNavigatorsOnHover]="true"
    [circular]="true"
    [autoPlay]="true"
    [transitionInterval]="3000"
    [containerStyle]="{ 'max-width': '640px' }"
    [containerClass]="galleriaClass()"
  >
    <ng-template pTemplate="item" let-item>
      <img
        [src]="item.itemImageSrc"
        [ngStyle]="{
          width: !fullscreen ? '100%' : '',
          display: !fullscreen ? 'block' : ''
        }"
      />
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
      <div class="grid grid-nogutter justify-content-center">
        <img [src]="item.thumbnailImageSrc" />
      </div>
    </ng-template>
    <ng-template pTemplate="footer" let-item>
      <div class="custom-galleria-footer">
        <button
          type="button"
          pButton
          icon="pi pi-list"
          (click)="onThumbnailButtonClick()"
        ></button>
        <span *ngIf="images" class="title-container">
          <span>{{ activeIndex + 1 }}/{{ images.length }}</span>
          <span class="title">{{ images[activeIndex].title }}</span>
          <span>{{ images[activeIndex].alt }}</span>
        </span>
        <button
          type="button"
          pButton
          [icon]="fullScreenIcon()"
          (click)="toggleFullScreen()"
          class="fullscreen-button"
        ></button>
      </div>
    </ng-template>
  </p-galleria>
</div>
<body>
  <div class="hero">
    <div class="hero-content">
      <div class="logo">S'</div>
      <div>
        <h1 class="title">I'm proper tooled up gee.</h1>
        <p class="subtitle">
          Color is so powerful that it can persuade, motivate.
        </p>
        <div class="pagination">
          <span class="pagination-dot"></span>
          <span class="pagination-dot active"></span>
          <span class="pagination-dot"></span>
        </div>
      </div>
      <div>Advertising.</div>
    </div>
    <div class="hero-image-container">
      <img [src]="product.largeUrl" alt="Hero image" class="hero-image" />
    </div>
  </div>

  <div class="container">
    <div class="product-grid">
      <div class="product-images">
        <div class="card">
          <p-galleria
            #galleria
            [value]="images"
            [(activeIndex)]="activeIndex"
            [numVisible]="5"
            [showThumbnails]="showThumbnails"
            [showItemNavigators]="true"
            [showItemNavigatorsOnHover]="true"
            [circular]="true"
            [autoPlay]="true"
            [transitionInterval]="3000"
            [containerStyle]="{ 'max-width': '640px' }"
            [containerClass]="galleriaClass()"
          >
            <ng-template pTemplate="item" let-item>
              <img
                [src]="item.itemImageSrc"
                [ngStyle]="{
                  width: !fullscreen ? '100%' : '',
                  display: !fullscreen ? 'block' : ''
                }"
              />
            </ng-template>
            <ng-template pTemplate="thumbnail" let-item>
              <div class="grid grid-nogutter justify-content-center">
                <img [src]="item.thumbnailImageSrc" />
              </div>
            </ng-template>
            <ng-template pTemplate="footer" let-item>
              <div class="custom-galleria-footer">
                <button
                  type="button"
                  pButton
                  icon="pi pi-list"
                  (click)="onThumbnailButtonClick()"
                ></button>
                <span *ngIf="images" class="title-container">
                  <span>{{ activeIndex + 1 }}/{{ images.length }}</span>
                  <span class="title">{{ images[activeIndex].title }}</span>
                  <span>{{ images[activeIndex].alt }}</span>
                </span>
                <button
                  type="button"
                  pButton
                  [icon]="fullScreenIcon()"
                  (click)="toggleFullScreen()"
                  class="fullscreen-button"
                ></button>
              </div>
            </ng-template>
          </p-galleria>
        </div>
        <!-- <div class="product-info">
        <h1>{{ product.displayName }}</h1>
        <div class="rating">
          <div class="stars">
            <span *ngFor="let star of [1, 2, 3, 4, 5]">
              {{ star <= product.ratings ? "★" : "☆" }}
            </span>
          </div>
          <span class="review-count">({{ product.reviewCount }} review)</span>
        </div>
        <div class="price">{{ product.priceDisplay }}</div>
        <div class="options">
          <label for="color" class="option-label">Color</label>
          <select id="color" [(ngModel)]="selectedColor">
            <option
              *ngFor="let chip of getChipsByType('COLOR')"
              [value]="chip.fmyChipCode"
            >
              {{ chip.fmyChipName }}
            </option>
          </select>
        </div>
        <div class="options">
          <label for="memory" class="option-label">Memory</label>
          <select id="memory" [(ngModel)]="selectedMemory">
            <option
              *ngFor="let chip of getChipsByType('MOBILE MEMORY')"
              [value]="chip.fmyChipCode"
            >
              {{ chip.fmyChipName }}
            </option>
          </select>
        </div>
        <div class="options">
          <label for="quantity" class="option-label">Quantity</label>
          <input type="number" id="quantity" [(ngModel)]="quantity" min="1" />
        </div>
        <button class="add-to-cart" (click)="addToCart()">Add to cart</button>
        <div class="action-buttons">
          <button class="action-button" (click)="addToWishlist()">
            ❤️ Wishlist
          </button>
          <button class="action-button" (click)="share()">🔗 Share</button>
        </div>
        <div class="description">
          <h2>Description</h2>
          <ul>
            <li *ngFor="let feature of product.usp">{{ feature }}</li>
          </ul>
        </div>
      </div> -->
      </div>
    </div>
  </div>
</body>
<!-- <section class="bg-white dark:bg-gray-900">
  <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
      <div class="mr-auto place-self-center lg:col-span-7">
          <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">
              {{ product.displayName }}
          </h1>
          <p class="max-w-2xl mb-6 font-light text-gray-500 lg:mb-8 md:text-lg lg:text-xl dark:text-gray-400">
              Latest Model: {{ product.modelName }}
          </p>
          <a href="#" class="inline-flex items-center justify-center px-5 py-3 mr-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
              Buy Now
              <svg class="w-5 h-5 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path>
              </svg>
          </a>
          <a href="#" class="inline-flex items-center justify-center px-5 py-3 text-base font-medium text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
              Learn More
          </a> 
      </div>
      <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
          <img src="{{ product.largeUrl }}" alt="{{ product.displayName }}" class="object-cover h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%);">
      </div>                
    </div> 
    </section>
    
    -->
