<header class="bg-white shadow-md fixed top-0 left-0 right-0 z-50">
  <nav class="container mx-auto px-4 py-4 flex justify-between items-center">
    <a href="#" class="text-blue-600 font-bold text-3xl">Shivam Electronics</a>
    <div class="hidden md:flex space-x-6">
      <ng-container *ngFor="let item of items">
        <a
          pRipple
          class="flex align-items-center p-menuitem-link"
          [routerLink]="item.path"
          routerLinkActive="active"
          >{{ item.label }}</a
        >
      </ng-container>
    </div>
    <div class="flex items-center space-x-4">
      <button
        class="bg-gray-200 p-2 rounded-full hover:bg-gray-300 transition duration-300"
      >
        <i data-feather="search" class="w-5 h-5 text-gray-600"></i>
      </button>
      <button
        class="bg-blue-600 text-white px-4 py-2 rounded-full hover:bg-blue-700 transition duration-300"
      >
        Sign Up
      </button>
    </div>
  </nav>
</header>

<!-- Main content area with padding to avoid overlap -->
<main style="padding-top: 8px">
  <!-- Adjust the padding as needed -->
  <div class="card"></div>
  <router-outlet></router-outlet>
</main>

<!-- <header class="bg-white shadow-md fixed top-0 left-0 right-0 z-50">
  <nav class="container mx-auto px-4 py-4 flex justify-between items-center">
    <a href="#" class="text-blue-600 font-bold text-3xl">Shivem Electronics</a>
    <div class="hidden md:flex space-x-6" *ngFor="let item of items">
      <a
        pRipple
        class="flex align-items-center p-menuitem-link"
        [routerLink]="item.path"
        routerLinkActive="active"
        >{{ item.label }}</a
      >
    </div>
    <div class="flex items-center space-x-4">
      <button
        class="bg-gray-200 p-2 rounded-full hover:bg-gray-300 transition duration-300"
      >
        <i data-feather="search" class="w-5 h-5 text-gray-600"></i>
      </button>
      <button
        class="bg-blue-600 text-white px-4 py-2 rounded-full hover:bg-blue-700 transition duration-300"
      >
        Sign Up
      </button>
    </div>
  </nav>
</header>
<div class="card"></div>
<router-outlet /> -->
