<div class="card">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <svg
        width="33"
        height="35"
        viewBox="0 0 33 35"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M15.1934 0V0V0L0.0391235 5.38288L2.35052 25.3417L15.1934 32.427V32.427V32.427L28.0364 25.3417L30.3478 5.38288L15.1934 0Z"
          fill="var(--primary-color)"
        />
      </svg>
    </ng-template>
    <ng-template pTemplate="item" let-item let-root="root">
      <a
        pRipple
        class="flex align-items-center p-menuitem-link"
        [routerLink]="item.path"
        routerLinkActive="active"
      >
        <span [class]="item.icon"></span>
        <span class="ml-2">{{ item.label }}</span>
        <!-- Optionally display badge and shortcut -->
        <span
          *ngIf="item.shortcut"
          class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1"
        >
          {{ item.shortcut }}
        </span>
        <i
          *ngIf="item.items"
          [ngClass]="[
            'pi',
            root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto'
          ]"
        ></i>
      </a>
    </ng-template>

    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        <input
          type="text"
          pInputText
          placeholder="Search"
          class="w-8rem sm:w-auto"
        />
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          shape="circle"
        />
      </div>
    </ng-template>
  </p-menubar>
</div>

<!--  -->
<!-- <nav>
  <ul>
    <li *ngFor="let item of navItems">
      <p-menubar [model]="items" />

      <a [routerLink]="item.path" routerLinkActive="active">{{ item.name }}</a>
    </li>
  </ul>
</nav> -->

<!-- <app-user-master></app-user-master>
<app-home></app-home> -->
<router-outlet />
